* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #eee5dd;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #4ec5f5;
    color: #4ec5f5;
    padding: 10px 0;
    position: relative;
}

.logo {
    position: absolute;
    top: 10px;
    right: 20px;
    height: 50px; 
}

.navbar {
    list-style-type: none;
    text-align: center;
}

.navbar li {
    display: inline-block;
    margin: 0 10px;
}

.navbar li.right {
    float: right;
}

.navbar a {
    text-decoration: none;
    color: #000000;
    padding: 10px 15px;
    display: inline-block;
}

.navbar a:hover {
    background-color: #555;
}

main {
    h1{
        text-align: center;
        font-size: 40px;
    }
    padding: 20px 0;
}

.main h1{
    align-items: center;
    font-size: 100px;
}


iframe {
    width: 100%;
    height: 400px;
    border: none;
}

marquee {
    width: 100%;
    padding: 10px 0;
    background-color: #f2f5f7;
    color: #000000;
}

.footer {
    background-color: #4ec5f5;
    color:rgb(0, 0, 0); 
    text-align: center;
}
    footer h4{
        color: #000000;
        padding: 10px;
        font-size: 15px;
        }
        footer h5{
            color: black;
            padding: 10px;
            font-size: 15px;
            }